:root {
  --btn-bg-selected: #E5E8FD;
  --btn-bg: #F4F6F8;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  outline:none;
  border: none;
  background: var(--btn-bg);
}

.btn-selected {
  background: var(--btn-bg-selected)
}